* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #DBE6F4;
    font-family: 'Inter', sans-serif;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 11px;
        background-color: #649DD5;

        .menu-icon {
            display: none;
        }
        .creator {
            display: flex;
            align-items: center;

            h3 {
                font-size: 14px;
                line-height: 15px;
                color: #fff;
            }
            
            a {
                display: flex;
                transition: transform .5s;

                img {
                    cursor: pointer;
                    // width: 39px;
                    // height: 39px;
                }

                &:nth-child(2) {
                    margin: 0 20px 0 28px;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: transform .5s;
                }
            }
        }
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 60px 70px 64px 86px;

        .esquerdo {
            width: 330px;
            height: 505px;
            margin-right: 54px;
            background: #FFFFFF;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 7px;
            padding: 15px;
            
            p {
                font-size: 12px;
                margin: 6px 0;
                color: #ccc;

                span {
                    color: #4E999C;
                }
            }

            form {
                display: flex;
                flex-direction: column;


                label {
                    margin-top: 14px;
                    display: flex;
                    flex-direction: column;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 21px;
                    color: #4E999C;

                    * {
                        border: 1px solid #848484;
                        border-radius: 4px;
                        padding: 5px 0 5px 10px;

                        &::placeholder {
                            color: #ccc;
                            font-size: 12px;
                            opacity: .9;
                        }
                        &:focus {
                            outline: transparent;
                        }
                    }
                    input {
                        height: 20px;
                    }
                    textarea {
                        resize: none;
                    }

                }
                
                .input-file {
                    display: flex;
                    
                    .input-group {
                        display: flex;
                        border: 2px solid #89B1D6;
                        padding: 0;
                        input {
                            border: none;
                            width: 60%;
                            cursor: pointer;
                        }
                        button {
                            color: #fff;
                            border-radius: 0 2px 2px 0;
                            background: #649DD5;
                            padding: 0;
                            cursor: pointer;
                            border: none;
                            width: 40%;
                        }
                    }
                }

                .submit {
                    font-weight: 700;
                    margin-top: 40px;
                    padding: 10px 0;
                    background: #649DD5;
                    border-radius: 6px;
                    font-size: 16px;
                    line-height: 21px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .direito {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 550px;
            height: 455px;
            padding: 15px;
            background: #FFFFFF;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 7px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }
            span{
                position: absolute;
                font-size: 13px;
            }
            .newImage {
                position: absolute;
                top: 52px;
                left: 19px;
                width: 100px;
                height: 97px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .autor {
                top: 385px;
                left: 265px;
                width: 260px;
            }
            .titulo {
                color: #4E999C;
                top: 150px;
                left: 20px;
                width: 100px;
                overflow-wrap: break-word;
            }
            .tituloMaior {
                top: 55px;
                left: 140px;
                font-size: 15.6842px;
                line-height: 13px;
            }
            .descricao {
                top: 100px;
                left: 260px;
                width: 270px;
                height: 240px;
                overflow-wrap: break-word;
            }
        }
    }
    .menu-info {
        display: none;
        height: 100vh;
        background-color: #89B1D6;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            color: #fff;
            margin-bottom: 40px;
        }
        .icons-menu {
            display: flex;
            img {
                width: 60px;
            }
        }
            
    }
    @media (max-width: 1200px) {
        header {
            .creator {
                display: none;
            }
            .menu-icon {
                display: flex;
            }
        }
        .main {
            margin: 30px 7.5px 35px;
            flex-direction: column;

            .esquerdo {
                margin: 0 0 47px;
            }
            .direito {
                padding: 10px;
                width: 340px;
                height: 284px;

                .newImage {
                    top: 33px;
                    left: 13px;
                    width: 61px;
                    height: 61px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .autor {
                    top: 239px;
                    left: 164px;
                    font-size: 10px;
                    width: 170px;
                }
                .titulo {
                    top: 90px;
                    left: 14px;
                    width: 60px;                
                }
                .tituloMaior {
                    top: 33px;
                    left: 90px;
                }
                .descricao {
                    top: 60px;
                    left: 155px;
                    width: 180px;
                    height: 150px;
                }
            }
        }
    
    }
}